:root{
    --main: rgb(255, 0, 0);
    --dark: #000000;
    --light: #ffffff;
}

*{
    padding: 0;
    margin: 0;
}

#section-part{
    height: 900px;
    overflow: scroll;
    
}
::-webkit-scrollbar {
    display: none;
}

#intro-img{
    width: 100%;
    height: 300px;
    margin: 0 auto ;
    border-radius: 50px;

}

#brand-name{
    padding-left:120px ;
}

.logo{
    height: 100px;
    position: absolute;
    top: 1;
    left: 1;
}

nav .nav-item:hover{
    border: 0.4px solid ;
    border-radius: 8px;
}


#sec-1 div{
    border-radius: 20px
}

#sec-1 input{
    background: transparent;
    font-size: 24px;
    border-radius: 8px;
    width: 200px;
    color: white;

}
#sec-1 select{
    background: transparent;
    outline: none;
    color: var(--light);
    border: none;
    font-size: 18px;

}
#sec-1 select option{
    color: var(--dark);
}