:root{
    --main: rgb(255, 0, 0);
    --dark: #000000;
    --light: #ffffff;
}

*{
    padding: 0;
    margin: 0;
}

#section-part{
    height: 900px;
    overflow: scroll;
    
}
::-webkit-scrollbar {
    display: none;
}

#intro-img{
    width: 400px;
    height: 300px;
    margin: 0 auto ;
    border-radius: 50px;

}

#brand-name{
    padding-left:120px ;
}

.logo{
    height: 100px;
    position: absolute;
    top: 1;
    left: 1;
}

nav .nav-item:hover{
    border: 0.4px solid ;
    border-radius: 8px;
}